.App {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

body {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  color: #61dafb;
  font-weight: bold;
  font-size: calc(30px + 2vmin);
  text-transform: uppercase;
}

h2 {
  color: #61dafb;
  font-weight: bold;
  font-size: calc(17px + 2vmin);
  text-transform: uppercase;
}

table {
  font-size: calc(9px + 1vmin);
  width: 90%;
  margin-bottom: 20px;
  text-align: left;
  border-collapse: collapse;
  border: 2px solid #37c;
}

th {
  font-weight: normal;
  padding: 5px;
  background: #1cb5e0;
  border: 2px solid #37c;
  color: #039;
}

td {
  padding: 5px;
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
}

tr:hover td {
  background: #d0dafd;
  color: #339;
  font-weight: bold;
}

.title {
  margin-left: 55px;
  color: ##61dafb;
  font-weight: bold;
  font-size: calc(30px + 2vmin);
  text-transform: uppercase;
}
.add-form {
  display: flex;
  flex-direction: column;
  font-size: calc(9px + 1vmin);
}
.line-form {
}
.rotulo-form {
  font-size: calc(5px + 1vmin);
  margin-bottom: 1px;
}
.input-form {
  padding: 1px;
  background: #ffffff;
  border: 2px solid #37c;
  border-radius: 2px;
  background-color: #e8edff;
  width: 80%;
  font-size: calc(9px + 1vmin);
  color: #339;
  margin-bottom: 5px;
}
.add-btn {
  font-weight: bold;
  padding: 8px;
  background: #ffffff;
  border: 2px solid #37c;
  border-radius: 5px;
  background-color: #e8edff;
  color: #609;
  width: calc(9px + 10vmin);
}
.add-btn:hover {
  background-color: #d0dafd;
  color: #339;
}

.container {
  /* padding: 5px; */
}

.navigator {
  display: flex;
  flex-direction: row;
  font-weight: normal;
}

.navigator-button {
  font-size: calc(5px + 1vmin);
  padding: 1px;
  border: 2px solid #37c;
  background: #ffffff;
  background-color: #1cb5e0;
  color: #ffffff;
  width: calc(100px + 1vmin);
}
.navigator-button:hover {
  background-color: #d0dafd;
  font-weight: bold;
  color: #339;
}

.login-container {
  margin-left: 55px;
  margin-bottom: 20px;
  font-weight: normal;
}

.login-img {
  width: calc(20px + 2vmin);
  padding-right: 5px;
}

.login-btn {
  margin-bottom: 10px;
  font-size: calc(5px + 1vmin);
  padding: 2px;
  border: 2px solid #37c;
  background: #ffffff;
  background-color: #1cb5e0;
  color: #ffffff;
  width: calc(100px + 1vmin);
}
.login-btn:hover {
  background-color: #d0dafd;
  font-weight: bold;
  color: #339;
}
